@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://db.onlinewebfonts.com/c/381822f9ca78c5d9b15e8a0b5b122b66?family=Neology+Deco+W03+Regular');
@font-face {
    font-family: 'Roots';
    src: url('fontes/Roots.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

body {
    font-family: "Bebas Neue", sans-serif;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url('imagens/what_is_netflix_5_en.png');
    background-size: cover; /* Cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repetir a imagem */
    background-attachment: fixed; /* Mantém a imagem */
   

    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}
button {
    cursor: pointer;
}

/*Cabeçalho, junto com o Saiba Mais e o menu*/

header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(20, 20, 20, 0.055), rgba(36, 35, 35, 0.034));
    box-sizing: border-box;
}
#logo img {
    margin-top: -1em;
    margin-left: -1em;
    padding: 1em;
    width: 7em; 
    height: 6em;
    position: fixed;
}
.menu {
    display: flex;
    margin: 2px;
}
.menu li {
    list-style-type: none;
    padding: 1.5em;
    padding-top: 2em;
}

a {
    text-transform: none !important;
}

.menu li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.856);
    font-size: 1.4em;
    letter-spacing: 0.03em;
}
.menu li a:hover {
    text-decoration: underline;
    transition: 0.7s;
}

/*Barra de pesquisar, titulo, e botão de pesquisar*/

.search_menu {
    background: none;
    border: none;
    width: 4.3em;
    height: auto;
    transition: all 0.4s;
    display: none;
}
.search_menu img {
    margin-left: -20px;
    margin-top: -10px;
    max-width: 100%;
    height: auto;
}
.search_menu img:active {
    transform: scale(0.8);
}
main {
    flex: 1; /* equivalente a flex-grow: 1; flex-shrink: 1; flex-basis: 0%; Define que o elemento fique responsivo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 6em);
}

.search-config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pesquisa-filme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo_filme {
    text-align: center;
    color: rgb(197, 5, 5);
    font-size: 4em;
    letter-spacing: 0.05em;
    margin: 0;
    text-shadow: 0.5px 0.5px 0.5px black;
}
.input_filme {
    border-radius: 15px;
    background-color: lightgray;
    border: none;
    width: 30em;
    padding: 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
    color: black;
    box-shadow: 9px 9px 68px -8px rgba(0,0,0,0.75);

}

.input_filme:focus {
    outline: none;
}
.search-config input::placeholder {
    color: rgba(0, 0, 0, 0.712);
}
#search-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    letter-spacing: 0.1px;
    padding: 1em;
    width: 10em;
    background-color: rgb(168, 3, 3);
    color: white;
    border-radius: 15px;
    transition: all 0.4s;
}
#search-button:hover {
    background-color: rgb(230, 21, 21);
    transition: 0.4s;
}
.search-button:active {
    transform: scale(0.8);
}

input {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
}

/*Rodapé com direitos autorais*/

footer {
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(161, 19, 19, 0.212) ,rgba(255, 0, 0, 0.11) );
    color: rgb(153, 153, 153);
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 6em;
    line-height: 0.5px;
    margin-bottom: -37px;
}
footer p {
    margin: 12px;
}
.direitos {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}
.direitos:hover {
    background-color: rgb(180, 6, 6);
    color: rgb(155, 151, 151);
    transition: 0.5s;
    border-radius: 10px;
}
/*popup, todas as configurações dele*/
dialog::backdrop {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
}
.cor_popup {
    z-index: -1;
    height: 52em;
    width: 60em;
    border-radius: 30px;
    border-width: 1px;
    border-color: red;
    background-color: rgba(0, 0, 0, 0.61);
    overflow: hidden;
    color: #e0e0e0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.botao_fechar {
    color: red;
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
    margin-top: 3px;
    font-size: 3em;
    transition: all .4s;
}
.botao_fechar:active {
    transform: scale(0.8);
}

#poster {
    float: left;
    width: 14em;
    height: 20em;
    margin: 15px;
    margin-top: -10px;
    margin-left: 2em;
    border-radius: 5px;
    background-color: #2c2c2c;
    box-shadow: -1px -1px 9px 0px rgba(0,0,0,0.75);
    border: 1px solid rgba(255, 0, 0, 0.925);
}
#info {
    float: right;
    margin-right: 2em;
    margin-top: -10px;
    width: 37em;
    height: 20em;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.75);
    overflow-y: auto;
    overflow-x: hidden;
}
.info_titulo {
    color: #e50914;
    width: 100%;
    text-decoration: underline;
    display: flex;
    font-size: 1.5em;
    justify-content: flex-start;
    margin-left: 1em;
    font-weight: bolder;
}
#info li {
    margin: 3px;
    padding: 5px;
}
.cor_nome_filme {
    display: flex;
    font-family:"Bebas Neue", sans-serif;
    font-weight: bolder;
    justify-content: center;
    margin-left: 1.5em;
    font-size: 1.5em;
    color: rgb(230, 3, 3);

}
#content_sinopse {
    float: inline-end;
    overflow-y: auto;
    margin: 40px;
    margin-right: 2em;
    border-radius: 10px;
    background-color: rgb(10, 10, 10);
    box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.75);
    width: 56.1rem;
    height: 20em;
    
}
#content_sinopse p {
    margin: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 3em;
    margin-right: 3em;
    text-align: justify;
}
.sinopse_title {
    margin: 1.5em;
    color: red;
    font-size: 1.3em;
}
.cor_filme_nao {
    color: white;
    width: 30em;
    height: 20em;
    text-align: center;
}
.cor_filme_nao p {
    font-size: 4em;
}
#botao_fechar_nao {
    color: red;
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
    margin-top: 3px;
    font-size: 3em;
}
.poster_cor {
    width: 100%;
}
.poster_cor img {
    width: 14em;
    height: 20em;
    border-radius: 5px;
    
    
}
.objetos_cor {
    color: red;
    font-weight: bold;
}
.lista_objetos {
    list-style-type: none;
    margin-left: -1em;
}
.cor_variaveis {
    font-weight: bold;
}

@media screen and (max-width: 768px) {


    #menu_valores {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 0em;
        background-image: linear-gradient(black, rgb(15, 15, 15), rgb(20, 20, 20));
        z-index: 1000;
        transition: 0.2s;
        overflow-x: hidden;
    }

    #menu_valores li a{
        padding-bottom: 0.2em;
        white-space: nowrap;
        border-bottom: 1px solid rgba(117, 117, 117, 0.349);
    }

    #menu_valores li:first-child {
        margin-top: 5em;
    }

    .search_menu {
        display: flex;
        z-index: 1500;
        padding: 2em;
        padding-inline: 3.8em;
        font-size: 1rem;
        color: white;
        border: none;
        background: none;
        cursor: pointer;

    }
    
    #botao_menu {
        color: rgb(197, 5, 5);
        display: block;
        border-top: 2px solid rgb(197, 5, 5);
        width: 30px;
    }
    
    /*Para um after ou before funcionar é preciso passar um conteudo vazio ou nao*/

    #botao_menu::after, #botao_menu::before {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background: currentColor; /*pega a cor atual, usada no botao_menu*/
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    /*Cria a animação de rotacionar o botão*/

    .menu.active #botao_menu { 
        border-top-color: transparent;
    }

    .menu.active #botao_menu::before {
        transform: rotate(135deg);
    }

    .menu.active #botao_menu::after {
        transform: rotate(-135deg);
        top: -7px;
    }


    /*Se tiver a classe menu e active, adicione ao dois o display flex, para mostrar o listar filmes*/
    .menu.active #menu_valores {
        visibility: visible;
        width: 12em;
    }

    .search_menu img {
        margin: 0;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 3.5em;
        height: auto;
    }

    #pesquisa-filme {
        flex-direction: row;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    #search-button{   
        background-image: url('imagens/search.png');
        background-size: 22px 22px;
        background-repeat: no-repeat;
        background-position: center;
        color: transparent; /* Torna o texto invisível */
        text-indent: -9999px; /* Remove o texto visível */
        width: 3em;
        height: 3.1em;
        border-radius: 10px;
        margin-bottom: 5px;

    }

    .search-config input, .search-config button {
        flex-direction: row;
    }
    
    #logo img{
        margin: 0;
        padding: 0;
        width: 5em;
        height: 4em;
        margin-top: 10px;
    }

    .titulo_filme {
        font-size: 3em;
        margin-bottom: 15px;
    }

    .search-config {
        margin-top: 2em;
    }

    .input_filme {
        width: 15em;
        margin: 0;
        margin-bottom: 5px;
    }


}

@media screen and (max-height: 568px) {
    .titulo_filme {
        font-size: 2.5em;
    }
}